<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta([%thread])  %logger.%M - %cyan(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="legaltech" level="debug"/>


    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
